/* Text Styling */
.paragraph {
    text-align: justify;
}

.dev-icons {
    font-size: 8em;
}

.skills-text {
    font-size: 1rem;
}

.toolbar-icon {
    font-size: 1.5em;
}

/* Images */
#about-img {
    border: 2px solid #36454f;
}

.dev-icons img {
    height: 1em;
}

/* Positioning and Sizing */
.card {
    width: 80%;
    height: 60%;
    margin: 2em;
}

.card-image {
    position: relative;
}

.card-image img {
    height: 20em;
    width: 20em;
}

.fixed-action-btn {
    position: absolute;
    bottom: 2%;
    right: 5%;
}