/* Text Styling */
.paragraph {
    text-align: justify;
}

.dev-icons {
    font-size: 8em;
}

.skills-text {
    font-size: 1rem;
}

.toolbar-icon {
    font-size: 1.5em;
}

.card-title {
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000;
}

/* Images */
#about-img {
    border: 2px solid #36454f;
}

.dev-icons img {
    height: 1em;
}

/* Positioning and Sizing */
.card {
    width: 80%;
    margin: 2em;
    height: 40em;
    border: 2px solid gray;
    box-shadow: 10px 10px 5px grey;
}

.card-image {
    position: relative;
}

.card-image img {
    height: 20em;
    width: 20em;
}

.card-content {
    border-top: 1px solid gray;
}

.fixed-action-btn {
    position: absolute;
    bottom: 2%;
    right: 5%;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .card-content .paragraph {
        font-size: 75%;
    }

    .card {
        width: 90%;
        margin: 1em;
    }
}